{% extends 'fees.html' %}
{% block body %}

    <form>
        {% csrf_token %}
        <input type="hidden" id="member_id" value="{{ member.id }}"/>
        <div class="container">
        <div class="mb-3">
            <label>S.No</label>
            <input type="number" id="sno" value="{{ member.sno }}" class="form-control" required="required"/>
        </div>
        <div class="mb-3">
            <label>Name</label>
            <input type="text" id="name" value="{{ member.name }}" class="form-control" required="required"/>
        </div>
        <div class="mb-3">
            <label>Course</label>
            <input type="text" id="course" value="{{ member.course }}" class="form-control" required="required"/>
        </div>
        <div class="mb-3">
            <label>Fees Amount</label>
            <input type="text" id="feesamount" value="{{ member.feesamount }}" class="form-control" onchange="updateDue()" required="required"/>
        </div>
        <div class="mb-3">
            <label>Fees Paid</label>
            <input type="text" id="feespaid" value="{{ member.feespaid }}" class="form-control" onchange="updateDue()" required="required"/>
        </div>
        <div class="mb-3">
            <label>Fees Due</label>
            <input type="text" id="feesdue" value="{{ member.feesdue }}" class="form-control" onchange="updateDue()" required="required"/>
        </div>
        <div class="mb-3">
            <label>Payment Date</label>
            <input type="date" id="paymentdate" value="{{ member.paymentdate }}" class="form-control" required="required"/>
        </div>
        <div class="mb-3">
            <button type="submit" id="update" class="btn btn-warning">Update</button>
        </div>
    </div>
    </form>

    {% endblock %}   

       